.tab_container{
  position:relative;
}
.tab{
  width:50px;
  height:30px;
  position:absolute;
}
.tab1{
  left:0;
  top:0;
  background-color: #3f3;
}
.tab2{
  left:50px;
  top:0;
  background-color: #33f;
}
.content{
  width:400px;
  height:400px;
  position:absolute;
}
.content1{
  left:0;
  top:30px;
  background-color: #3a3;
  z-index:2;
  display:none;
}
.content2{
  left:0;
  top:30px;
  background-color: #33a;
  z-index:3;
  display:none;
}
.tab:hover+.content,.content:hover{
  z-index:1000;
  display:block;
}
