.t3{
    width:600px;
    height:600px;
}
.t1{
    width:600px;
    height:600px;
    margin:10px auto;
}
.t1 tr td{
    width:30px;
    height:30px;
    padding:0;
}
.t2{
    width:600px;
    height:400px;
    text-align:center;
    margin:10px auto;
}