.all{
    margin:10px auto;
}
.table11{
    margin:0 200px;
    float:right;
}
.table12{
    margin:0 200px;
    float:left;
}
.table21{
    width:200px;
    float:left;
}
.table22{
    float:left;
}
.table23{
    float:left;
    margin:50px 10px 10px 200px;
}
.table31{
    clear:both;
}
.table41{
    margin:0 200px;
    float:left;
}
.table51{
    clear:both;
    width:50px;
    margin:10px 200px;
}

.table61{
    background-color:#849;
    margin:10px auto;
    width:100%;
    text-align:center;
}
.table71{
    margin:10px auto;
    text-align:center;
}











.num0{
    margin: 0 auto;
}
.num0 tr td{
    width:20px;
    height:20px;
}
.num1{
    margin: 0 auto;
}
.num1 tr td{
    width:20px;
    height:20px;
}
.num2{
    margin: 0 auto;
}
.num2 tr td{
    width:20px;
    height:20px;
}
.num3{
    margin: 0 auto;
}
.num3 tr td{
    width:20px;
    height:20px;
}
.num4{
    margin: 0 auto;
}
.num4 tr td{
    width:20px;
    height:20px;
}
.num5{
    margin: 0 auto;
}
.num5 tr td{
    width:20px;
    height:20px;
}
.num6{
    margin: 0 auto;
}
.num6 tr td{
    width:20px;
    height:20px;
}
.num7{
    margin: 0 auto;
}
.num7 tr td{
    width:20px;
    height:20px;
}
.num8{
    margin: 0 auto;
}
.num8 tr td{
    width:20px;
    height:20px;
}
.num9{
    margin: 0 auto;
}
.num9 tr td{
    width:20px;
    height:20px;
}
.black1{
    background-color:#000;
}

.t3{
    width:600px;
    height:600px;
}
.t1{
    width:600px;
    height:600px;
    margin:10px auto;
}
.t1 tr td{
    width:30px;
    height:30px;
    padding:0;
}
.t2{
    text-align:center;
    margin:10px auto;
}