html,body{
    margin:0;
    padding:0;
}
.marginTopBug::before{
    content:" ";
    display:block;
    overflow:hidden;
}
.clear::after{
    content:" ";
    display:block;
    clear:both;
}
.all{
    width:1222px;
    margin:0 auto;
}
.title{
    width:1222px;
    height:35px;
    margin:0 auto;
    background:url(./images/bg1.png);
}
.title_01{
    margin-left:817px;
    margin-top:9px;
}
.nav{
    width:1222px;
    height:100px;
    margin:0 auto;
}
.nav_01{
    margin-left:148px;
    margin-top:41px;
    float:left;
}
.nav_02{
    margin-left:117px;
    margin-top:50px;
    float:left;
    width:90px;
    text-align:center;
    font:15px "微软雅黑";
}
.nav_03 ,.nav_04 ,.nav_05, .nav_06, .nav_07{
    width:90px;
    margin-left:10px;
    margin-top:50px;
    border-left:1px solid #333;
    float:left;
    text-align:center;
    font:15px "微软雅黑";
}
.nav_02:hover{
    font-weight:bold;
    border-bottom:1px solid #555;
}
.nav_03:hover ,.nav_04:hover ,.nav_05:hover, .nav_06:hover, .nav_07:hover{
    font-weight:bold;
    border-bottom:1px solid #555;
}
.bigP01{
    position:relative;
}
.bigP01 a{
    display:block;
    width:343px;
    height:70px;
    position:absolute;
    left:424px;
    top:159px;
}
.dis_01{
    margin-left:144px;
    margin-top:40px;
}
.dis_02{
    width:960px;
    margin:10px auto;
}
.content{
    width:950px;
    margin:5px auto;
}
.content .son_01{
    float:left;
}
.page{
    text-align:center;
}
.page_01{
    width:50px;
    margin:0 auto;
}
.page_01,.page_02, .page_03, .page_04{
    width:50px;
}
.bottom{
    text-align:center;
    background:#eaeaea;
    height:119px;
}
.bottom_01{
    margin-top:33px;
}
.bottom_02{
    margin-top:5px;
}
.bottom_03{
    margin-top:5px;
}
.marL{
    margin-left:5px;
}
.bm{
    padding-left:5px;
    border-left:1px solid #555;
}