#demo{
    list-style-type:none;
   }
   ul li{
       float:left;
       margin:0 3px;
       width:100px;
       line-height:30px;
       background:#a53355;
       text-align:center;
   }
   ol{
       clear:both;
       margin:10px 3px;
       list-style-type:none;
   }
   #exam{
       width:500px;
       height:500px;
       overflow:hidden;
   }
   #p1{
       width:500px;
       height:500px;
       background:#a5335a;
   }
    #p2{
       width:500px;
       height:500px;
       background:#125a5a;
   }
    #p3{
       width:500px;
       height:500px;
       background:#00ff5a;
   }
     #p4{
       width:500px;
       height:500px;
       background:#00005a;
   }