.container{
  width:400px;
  height:400px;
  background-color: #3ff;
  /*overflow:hidden;*/
  /*padding-top:1px;*/
  /*padding-top:30px;*/
  
}
.item{
  width:200px;
  height:200px;
  background-color: #ff3;
  margin-top:30px;
  float:left;
}
/*.container::before{
  content:"";
  display:block;
  overflow:hidden;
}*/